<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!--开启自动 驼峰式 命名映射， 从 类的属性 -》 mysql 字段名：  empId -> emp_id -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启延迟加载： -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--设置加载式 按需加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--开启二级 缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--添加 分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
</configuration>