<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>deal with the response data</title>
</head>
<body>
<h1>deal with the request data</h1>

<a th:href="@{/testResponseData}">ModelAndView处理响应数据</a>
<a th:href="@{/testMapResponseData}">Map处理响应数据</a></br>
<a th:href="@{/testModelResponseData}">Model处理响应数据</a></br>
<a th:href="@{/testModelMapResponseData}">ModelMap处理响应数据</a></br>
<a th:href="@{/testScopeResponseData}">use other scope(域)(default request scope)</a></br>
<a th:href="@{/testRedirect}">redirect_重定向</a></br>




</body>
</html>